@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&family=Roboto:wght@400;700&display=swap");

body {
  background: linear-gradient(236.85deg, #002200 27.26%, #007700 90.03%);
  font-family: "Roboto", sans-serif;
}


.container {
  background: #ecf4ff;
  color: #1c1c1c;
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px 0px #0e1d2f;
  padding: 65px;
}
.container a {
  color: #1c1c1c;
  font-weight: 600;
}
.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  border-radius: 460px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}

.redes{
    display: flex;
    gap: 15px;
    font-weight: 400;
    font-size: 25px;
}

.redes__img{
    height: 28px;
}

.tema button {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 400;
  padding: 8px 16px;
  background: #ecf4ff;
  border-radius: 100px;
  cursor: pointer;
}

.projetos {
 
  background: linear-gradient(230.65deg, #669933 20.49%, #66ff99 83.19%);
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
  margin-top: 32px;
  padding: 32px;
}

.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}

.projetos-item {

  display: flex;
  flex-direction: row;
  align-items:flex-start  ;
}

.imagem__projeto{
    width: 11rem;
}

.projeto__painel{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #002200;
    box-shadow:2px 2px 4px rgba(16, 16, 16, 0.42) ;
}


.descricao{
    font-size: 18px;
    text-align: center;
}

.descricao p{
    font-size: 15px;
}

/* mudanca de tema */
.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container {
  background: #333439;
  color: #f6f6f6;
}

.dark .projetos {
  color: #1c1c1c;
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
}

.dark .redes a{
    color: #f6f6f6;
}

.dark .tema button {
  background: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f7f7f7;
}

/* Mobile */
@media screen and (max-width:768px) {
  .container{
  margin: auto;
  padding: 0;
}
  .tema{
    display: none;
  }

  .cabecalho, .perfil, .titulo, .projetos-item{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .redes{
  gap: 8px;
  font-size: 16px;
}
  .perfil-foto {
    width: 50%;
   }

}